@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.rdp-day_button {
  background-color: white !important;
  color: black !important;
  border-radius: 8px !important;
}

.rdp-range_middle button {
  background-color: #E4E4E4 !important;
  color: black !important;
  border-radius: 0px !important;
}

.rdp-range_start button,
.rdp-range_end button {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
}

.rdp-range_start button {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.rdp-range_end button {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.rdp-range_start, .rdp-range_end {
  background: none !important;
}

.rdp-range_middle {
  background: none !important;
}

.rdp-button_next {
  position: absolute !important;
  right: 0 !important;
}

.rdp-button_next svg, .rdp-button_previous svg{
  fill: black !important;
  width: 24px !important;
  height: 24px !important;
}

.rdp-button_previous, .rdp-button_next {
  padding: 0 !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 50% !important;
}

.rdp-month_caption {
  justify-content: center;
  align-items: center;
}
